h1{color:purple;
    font-family:"Times New Roman",Georgia,serif;}
h3{color:mediumpurple;
font-family:"Times New Roman",Georgia,serif;}
p{color:black;
font-family:Verdana,"Trebuchet MS",sans-serif;}

#footer{background-color: aqua;}

blockquote{color:darkgreen;
    font-size:x-large;}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }