      body{
      	background:#3CB371;
      
      }
      
      h1{color:green;
        font-family: "Open Sans",Verdana, sans-serif; 
        font-size:x-large}
      h3{color:green;
        font-family:"Times New Roman",Georgia,serif; 
        font-size:large;
      }
      p{color:black;
        font-family:"Times New Roman",Georgia,serif;}
      background
      #footer{background-color: aqua;}

      blockquote.washington-blockquote{color:darkgreen!important;
        font-size:x-large!important;}

      .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
