h1{color:Green;
    font-family:"Times New Roman",Georgia,serif;}
h3{color:green;
font-family:"Times New Roman",Georgia,serif;}
p{color:black;
font-family:Verdana,"Trebuchet MS",sans-serif;}
body{
      	background:#3CB371;
      
      }

#footer{background-color: aqua;}

blockquote.washington-blockquote{color:darkgreen!important;
    font-size:x-large!important;}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }