body {
    font-family: "Open Sans", sans-serif;
    font-size:1em;
    color:#444;
}

h1 {
    font-size:3em;
    color:#33485e;
    text-transform: uppercase;
    text-align: center;
}

strong {   
    font-size:1.5em;
    text-transform: uppercase;
    color: #33485e;
}