body {
    font-family: "Open Sans", sans-serif;
    font-size:1em;
    color:#444;
}

#name {
    font-size:3em;
    color:#33485e;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

#title{   
    font-size:1.5em;
    text-transform: uppercase;
    color: #33485e;
}
#container{ 
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
    padding-bottom: 50px;
    
}
