h1{color:purple;
    font-family:"Times New Roman",Georgia,serif;}
h3{color:mediumpurple;
font-family:"Times New Roman",Georgia,serif;}
p{color:black;
font-family:Verdana,"Trebuchet MS",sans-serif;}

#footer{background-color: aqua;}