
#container{ 
    width: 900px; 
    margin: 0 auto; 
}


#byline {
font-family: Verdana, sans-serif;
font-size: 14px;
font-style: italic;
}


blockquote {
    font-size:25px;
    font-weight: bold;
    color:orange; 
    
}
