h1{font-family:"Times New Roman",Georgia,Serif;
    font-size:30px
        
        
}
/*step 4 HEADLINE*/

h2{font-family: "Times New Roman",Georgia,Serif;
   font-size:20px; 
} 
/*step 4 SUBHEADINGS*/

body{font-family: verdana,ariel,sans-serif;
font-size: 12px;
} 
/*Step 4 STORYTEXT*/



img{
    border-radius:8px;
  width: 100%;
    height: auto;
   
}

img.lead-image{
    border-radius:8px;

    height: 60em; 

}

img.banner{
    min-width:900px;
    aspect-ratio:auto;
}

.byline {font-size:14px}


    
#article{
width:50%;
margin:auto;
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
font-size: x-large;
color: darkgreen;
}



